body {
  background-color: #FFF5E1;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}

h1{
  color: #94B49F;
}

h3{
  color: #94B49F;
}
